[package]
name = "nullex"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
volatile = "0.2.6"
bootloader = { version = "0.9", features = ["map_physical_memory"] }
x86_64 = "0.14.2"
linked_list_allocator = "0.10.2"
hashbrown = { version = "0.15.2", features = ["inline-more"] }
crossbeam = { version = "0.8.4", default-features = false, features = ["alloc"] }
futures = { version = "0.3", default-features = false }
thiserror = { version = "2.0.16", default-features = false }

logos = { version = "0.15.1", default-features = false, features = ["export_derive", "logos-derive"]}
chumsky = { version = "0.11.1", default-features = false }
bitflags = "2.9.4"
libc = "0.2.177"

[dependencies.lazy_static]
version = "1.0"
features = ["spin_no_std"]

[dependencies.crossbeam-queue]
version = "0.3.11"
default-features = false
features = ["alloc"]

[dependencies.conquer-once]
version = "0.3.2"
default-features = false

#[profile.dev]
#panic = "abort"

#[profile.release]
#panic = "abort"