[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["core", "compiler_builtins", "alloc"]
bindeps = true

[build]
target = "x86_64-unknown-none.json"
rustflags = [
  "-C", "force-frame-pointers=yes",
  "-C", "debuginfo=2",
  "-C", "opt-level=0",
]

[target.x86_64-unknown-none]
rustflags = [
  "-C", "link-arg=-Wl,--whole-archive",
  "-C", "link-arg=-lnullex",
  "-C", "link-arg=-Wl,--no-whole-archive",
  "-C", "opt-level=0",
]

[env]
AS = "x86_64-elf-as"
CC_x86_64_unknown_none = "x86_64-elf-gcc"
AR_x86_64_unknown_none = "x86_64-elf-ar"
LD_x86_64_unknown_none = "x86_64-elf-ld"
